#welcome-section{
    background-color:#131418;
    text-color:white;
    color: white;
    text-align: center;

}


#project{
    background-color:#131418;
    text-color:white;
    color:#672e3b;

}
